<h1 class="hbox-center">SAP RMM Calculator</h1>

<div class="hbox">
    <span class="spacer"></span>
    <form (ngSubmit)="bl.onSubmit($event)" [formGroup]="bl.form">
        <mat-grid-list cols="2" rowHeight="90px">

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('poolPercent')">
                    <mat-label>Pool Percent</mat-label>
                    <mat-select formControlName="poolPercent">
                        <mat-option *ngFor="let percent of bl.poolPercents" [value]="percent">{{percent}}</mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('fmParticipationPercent')">
                    <mat-label>FM Participation Percent</mat-label>
                    <input matInput ng-disabled="!bl.editMode" type="number" formControlName="fmParticipationPercent">
                    <mat-error>Required. Value must be between 0 and 100</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('upbInvestorPriorAmount')">
                    <mat-label>UPB Investor Prior Amount</mat-label>
                    <input matInput type="number" formControlName="upbInvestorPriorAmount">
                    <mat-error>Required. Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('mortgageUpbPriorAmount')">
                    <mat-label>Mortgage UPB Prior Amount</mat-label>
                    <input matInput type="number" formControlName="mortgageUpbPriorAmount">
                    <mat-error>Required. Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('upbCurrentAmount')">
                    <mat-label>UPB Current Amount</mat-label>
                    <input matInput type="number" formControlName="upbCurrentAmount">
                    <mat-error>Required. Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>PI Payment Amount</mat-label>
                    <input matInput type="number" formControlName="piPaymentAmount" (click)="bl.validateUntil('piPaymentAmount')">
                    <mat-error>Required. Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('noteRate')">
                    <mat-label>Note Rate</mat-label>
                    <input matInput type="number" formControlName="noteRate">
                    <mat-error>Required/ Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('poolTerm')">
                    <mat-label>Pool Term</mat-label>
                    <mat-select type="number" formControlName="poolTerm">
                        <mat-option *ngFor="let term of bl.poolTerms" [value]="term">{{term}}</mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('productCode')">
                    <mat-label>Product Code</mat-label>
                    <input matInput formControlName="productCode">
                    <mat-error>Required. Length must be at least 3.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('maturityDate')">
                    <mat-label>Maturity Date</mat-label>
                    <input matInput type="date" formControlName="maturityDate">
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('noteMaturityDate')">
                    <mat-label>Note Maturity Date</mat-label>
                    <input matInput type="date" formControlName="noteMaturityDate">
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('principalAmortizationCode')">
                    <mat-label>Principal Amortization Code</mat-label>
                    <mat-select formControlName="principalAmortizationCode">
                        <mat-option *ngFor="let code of bl.principalAmortizationCodes" [value]="code">{{code}}</mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('ddlpi')">
                    <mat-label>DDLPI</mat-label>
                    <input matInput type="date" formControlName="ddlpi">
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('activeInactiveEditCode')">
                    <mat-label>Active Inactive Edit Code</mat-label>
                    <mat-select formControlName="activeInactiveEditCode">
                        <mat-option *ngFor="let code of bl.activeInactiveEditCodes" [value]="code">{{code}}</mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('upbAdjustmentAmountCurrent')">
                    <mat-label>UPB Adjustment Amount Current</mat-label>
                    <input matInput type="number" formControlName="upbAdjustmentAmountCurrent">
                    <mat-error>Required. Value must be at least 0.</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field (click)="bl.validateUntil('loanStatus')">
                    <mat-label>Loan Status</mat-label>
                    <mat-select formControlName="loanStatus">
                        <mat-option *ngFor="let status of bl.loanStatuses" [value]="status">{{status}}</mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="hbox">
            <span class="spacer"></span>
            <button type="submit" mat-raised-button color="primary" [disabled]="!bl.isValid">Calculate</button>
            <span class="spacer"></span>
        </div>
    </form>
    <span class="spacer"></span>
</div>
